<mat-toolbar class="header">
    <mat-toolbar-row class="toolbar">
        <span>DevPost<img class="icon-header" src="../../../assets/images/icon-header.svg"></span>
        <span class="example-spacer"></span>
        <button
        *ngIf="rota.routerState.snapshot.url == '/posts'" 
        (click)="navegacaoPostCreate()" mat-button color="primary"><mat-icon>add</mat-icon>Criar Post</button>
        
        <button
        *ngIf="rota.routerState.snapshot.url == '/posts/create'" 
        (click)="navegacaoHeader()" mat-button color="primary">Posts</button>

        <button
        *ngIf="rota.routerState.snapshot.url == '/'" 
        (click)="navegacaoHeader()" mat-button color="primary"></button>

    </mat-toolbar-row>
</mat-toolbar>
