<div class="container">
    <img class="image-retangulo" src="../../../assets/images/Union.svg">
    <img class="image-icon" src="../../../assets/images/undraw_Selection_re_poer.svg">
    
</div>
<div class="btn-clique">
    <div class="p-d-flex" style="height: 150px;">
        <div class="p-mr-2 p-as-start">
            <p class="text">Para criar uma postagem ou visualizar as postagens, clique no botão.</p>
        </div>
        <div class="p-mr-2 p-as-center">
            <button pButton pRipple type="button" label="Clique aqui" class="p-button-rounded p-button-secondary" (click)="rotaBotaoClique()"></button>
        </div>
    </div>
    
</div>